.card {
    transition: background-color 0.3s, border-color 0.3s;
}

.card.hovered {
    background-color: rgba(0, 0, 0, 0.1);
}

.card:hover {
    cursor: pointer;
}

.card.border-danger {
    border-color: red;
}
