.Container {
    position: relative;
    background-color: #464646;
    height: fit-content;
    color: #fff;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    margin-bottom: 10px;
}

.FilterBox {
    display: flex;
    padding: 2px;
    justify-content: space-between;
    color: #fff;
    font-family: Arial, sans-serif;
}

.column {
    flex: 1;
    margin-right: 20px;
}

/* Стили для label и input/select можно добавить по вашему желанию */
